혜린님 만드신 랜덤포레스트함수 사용했습니다 !!

# 매인 데이터

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline 
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
main_data = pd.read_csv('/content/drive/MyDrive/꿔8로우/data/서울시 개별사고정보(2010_2018).csv', sep=',', encoding='cp949')
main_data.head(4)

        발생일 발생시간 요일 발생지_시군구 사고내용  ... 가해자신체상해정도  피해자차종  피해자성별  피해자연령  피해자신체상해정도
0  20100101  00시  금     마포구   경상  ...      상해없음    이륜차      남    19세         경상
1  20100101  00시  금     동작구   중상  ...      상해없음    승용차      남    39세         중상
2  20100101  00시  금     관악구   경상  ...        경상    승용차      남    58세         경상
3  20100101  00시  금     강서구   경상  ...      상해없음    승용차      남    55세         경상

[4 rows x 27 columns]

In [ ]:
#시간별/지역별 변수 추가하기
main_data['발생일']=[str(i) for i in main_data['발생일']]
main_data['발생일_시간'] = main_data['발생일']+" "+main_data['발생시간']
main_data['발생일_시간_시군구'] = main_data['발생일']+" "+main_data['발생시간']+" "+main_data['발생지_시군구']
main_data['사고건수'] = [1 for i in main_data['발생일']]
main_data['발생일'] = pd.to_datetime(main_data['발생일'], format='%Y-%m-%d')
main_data['발생년도'] = main_data['발생일'].dt.year
main_data['발생월'] = main_data['발생일'].dt.month
main_data['발생일자'] = main_data['발생일'].dt.day

main_data.head(4)

         발생일 발생시간 요일 발생지_시군구 사고내용  ...        발생일_시간_시군구  사고건수  발생년도  발생월  발생일자
0 2010-01-01  00시  금     마포구   경상  ...  20100101 00시 마포구     1  2010    1     1
1 2010-01-01  00시  금     동작구   중상  ...  20100101 00시 동작구     1  2010    1     1
2 2010-01-01  00시  금     관악구   경상  ...  20100101 00시 관악구     1  2010    1     1
3 2010-01-01  00시  금     강서구   경상  ...  20100101 00시 강서구     1  2010    1     1

[4 rows x 33 columns]

In [ ]:
def age_to_num(df):
    for c, i in enumerate(df):
        if i == '불명':
            df[c] = '0세'
    df = [int(i[:-1]) for i in df]
    return df

#연령 데이터
main_data['가해자연령'] = age_to_num(main_data['가해자연령']) 
main_data['피해자연령'] = age_to_num(main_data['피해자연령'])

#시간 데이터
main_data['발생시간'] = age_to_num(main_data['발생시간'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
#결측치 확인
main_data.isna().sum()

발생일           0
발생시간          0
요일            0
발생지_시군구       0
사고내용          0
법정동명          0
사망자수          0
중상자수          0
경상자수          0
부상신고자수        0
사고유형_대분류      0
사고유형_중분류      0
사고유형          0
가해자법규위반       0
노면상태_대분류      0
노면상태          0
기상상태          0
도로형태_대분류      0
도로형태          0
가해자차종         0
가해성별          0
가해자연령         0
가해자신체상해정도     0
피해자차종         0
피해자성별         0
피해자연령         0
피해자신체상해정도     0
발생일_시간        0
발생일_시간_시군구    0
사고건수          0
발생년도          0
발생월           0
발생일자          0
dtype: int64

In [ ]:
#결측치 대체
main_data = main_data.fillna('결측치')

# 정수형 데이터로 만들기

In [ ]:
new_data2 =main_data[:]

In [ ]:
for i in ['요일', '발생지_시군구', '사고내용', '법정동명', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반', '노면상태_대분류', '노면상태', '기상상태', '도로형태_대분류', '도로형태', '가해자차종', '가해성별', '가해자신체상해정도', '피해자차종', '피해자성별', '피해자신체상해정도']:
  mapping = {label: idx for idx, label in enumerate(np.unique(main_data[i]))}
  print(mapping)
  new_data2[i] = main_data[i].map(mapping)

{'금': 0, '목': 1, '수': 2, '월': 3, '일': 4, '토': 5, '화': 6}
{'강남구': 0, '강동구': 1, '강북구': 2, '강서구': 3, '관악구': 4, '광진구': 5, '구로구': 6, '금천구': 7, '노원구': 8, '도봉구': 9, '동대문구': 10, '동작구': 11, '마포구': 12, '서대문구': 13, '서초구': 14, '성동구': 15, '성북구': 16, '송파구': 17, '양천구': 18, '영등포구': 19, '용산구': 20, '은평구': 21, '종로구': 22, '중구': 23, '중랑구': 24}
{'경상': 0, '부상신고': 1, '사망': 2, '중상': 3}
{'가락동': 0, '가리봉동': 1, '가산동': 2, '가양동': 3, '가회동': 4, '갈월동': 5, '갈현동': 6, '강일동': 7, '개봉동': 8, '개포동': 9, '개화동': 10, '거여동': 11, '견지동': 12, '결측치': 13, '경운동': 14, '계동': 15, '고덕동': 16, '고척동': 17, '공덕동': 18, '공릉동': 19, '공평동': 20, '공항동': 21, '과해동': 22, '관수동': 23, '관철동': 24, '관훈동': 25, '광장동': 26, '광희동1가': 27, '광희동2가': 28, '교남동': 29, '교북동': 30, '구기동': 31, '구로동': 32, '구산동': 33, '구수동': 34, '구의동': 35, '군자동': 36, '궁동': 37, '궁정동': 38, '권농동': 39, '금호동1가': 40, '금호동2가': 41, '금호동3가': 42, '금호동4가': 43, '길동': 44, '길음동': 45, '낙원동': 46, '남가좌동': 47, '남대문로1가': 48, '남대문로2가': 49, '남대문로3가': 50, '남대문로4가': 51, '남대문로5가': 52, '남산동1가': 53, '남산동2가': 54, '남산동3가': 55, '남영동': 56, '남창동': 57, '남학동': 58, '남현동': 59, '내곡동': 60, '내발산동': 61, '내수동': 62, '내자동': 63, '냉천동': 64, '노고산동': 65, '노량진동': 66, '노유동': 67, '녹번동': 68, '논현동': 69, '누상동': 70, '누하동': 71, '능동': 72, '다동': 73, '답십리동': 74, '당산동': 75, '당산동1가': 76, '당산동2가': 77, '당산동3가': 78, '당산동4가': 79, '당산동5가': 80, '당산동6가': 81, '당인동': 82, '당주동': 83, '대림동': 84, '대방동': 85, '대신동': 86, '대조동': 87, '대치동': 88, '대현동': 89, '대흥동': 90, '도곡동': 91, '도렴동': 92, '도림동': 93, '도봉동': 94, '도선동': 95, '도원동': 96, '도화동': 97, '독산동': 98, '돈암동': 99, '돈의동': 100, '동교동': 101, '동빙고동': 102, '동선동1가': 103, '동선동2가': 104, '동선동3가': 105, '동선동4가': 106, '동선동5가': 107, '동소문동1가': 108, '동소문동2가': 109, '동소문동3가': 110, '동소문동4가': 111, '동소문동5가': 112, '동소문동6가': 113, '동소문동7가': 114, '동숭동': 115, '동자동': 116, '동작동': 117, '둔촌동': 118, '등촌동': 119, '마곡동': 120, '마장동': 121, '마천동': 122, '마포동': 123, '만리동1가': 124, '만리동2가': 125, '망우동': 126, '망원동': 127, '면목동': 128, '명동1가': 129, '명동2가': 130, '명륜1가': 131, '명륜2가': 132, '명륜3가': 133, '명륜4가': 134, '명일동': 135, '목동': 136, '묘동': 137, '무교동': 138, '무악동': 139, '무학동': 140, '묵동': 141, '묵정동': 142, '문래동1가': 143, '문래동2가': 144, '문래동3가': 145, '문래동4가': 146, '문래동5가': 147, '문래동6가': 148, '문배동': 149, '문정동': 150, '미근동': 151, '미아동': 152, '반포동': 153, '방배동': 154, '방산동': 155, '방이동': 156, '방학동': 157, '방화동': 158, '번동': 159, '보광동': 160, '보문동1가': 161, '보문동2가': 162, '보문동3가': 163, '보문동4가': 164, '보문동5가': 165, '보문동6가': 166, '보문동7가': 167, '본동': 168, '봉래동1가': 169, '봉래동2가': 170, '봉원동': 171, '봉익동': 172, '봉천동': 173, '부암동': 174, '북가좌동': 175, '북아현동': 176, '북창동': 177, '불광동': 178, '사간동': 179, '사근동': 180, '사당동': 181, '사직동': 182, '산림동': 183, '산천동': 184, '삼각동': 185, '삼선동1가': 186, '삼선동2가': 187, '삼선동3가': 188, '삼선동4가': 189, '삼선동5가': 190, '삼성동': 191, '삼전동': 192, '삼청동': 193, '상계동': 194, '상도1동': 195, '상도동': 196, '상봉동': 197, '상수동': 198, '상암동': 199, '상왕십리동': 200, '상월곡동': 201, '상일동': 202, '서계동': 203, '서교동': 204, '서린동': 205, '서빙고동': 206, '서소문동': 207, '서초동': 208, '석관동': 209, '석촌동': 210, '성내동': 211, '성북동': 212, '성북동1가': 213, '성산동': 214, '성수동1가': 215, '성수동2가': 216, '세곡동': 217, '세종로': 218, '소격동': 219, '소공동': 220, '송월동': 221, '송정동': 222, '송파동': 223, '송현동': 224, '수색동': 225, '수서동': 226, '수송동': 227, '수유동': 228, '수표동': 229, '수하동': 230, '순화동': 231, '숭인동': 232, '시흥동': 233, '신계동': 234, '신공덕동': 235, '신교동': 236, '신길동': 237, '신내동': 238, '신당동': 239, '신대방동': 240, '신도림동': 241, '신림동': 242, '신문로1가': 243, '신문로2가': 244, '신사동': 245, '신설동': 246, '신수동': 247, '신영동': 248, '신원동': 249, '신월동': 250, '신정동': 251, '신창동': 252, '신천동': 253, '신촌동': 254, '쌍림동': 255, '쌍문동': 256, '아현동': 257, '안국동': 258, '안암동1가': 259, '안암동2가': 260, '안암동3가': 261, '안암동4가': 262, '안암동5가': 263, '암사동': 264, '압구정동': 265, '양재동': 266, '양평동': 267, '양평동1가': 268, '양평동2가': 269, '양평동3가': 270, '양평동4가': 271, '양평동5가': 272, '양평동6가': 273, '양화동': 274, '여의도동': 275, '역삼동': 276, '역촌동': 277, '연건동': 278, '연남동': 279, '연지동': 280, '연희동': 281, '염곡동': 282, '염리동': 283, '염창동': 284, '영등포동': 285, '영등포동1가': 286, '영등포동2가': 287, '영등포동3가': 288, '영등포동4가': 289, '영등포동5가': 290, '영등포동6가': 291, '영등포동7가': 292, '영등포동8가': 293, '영천동': 294, '예관동': 295, '예장동': 296, '예지동': 297, '오곡동': 298, '오금동': 299, '오류동': 300, '오쇠동': 301, '오장동': 302, '옥수동': 303, '옥인동': 304, '옥천동': 305, '온수동': 306, '와룡동': 307, '외발산동': 308, '용강동': 309, '용답동': 310, '용두동': 311, '용문동': 312, '용산동1가': 313, '용산동2가': 314, '용산동3가': 315, '용산동4가': 316, '용산동5가': 317, '용산동6가': 318, '우면동': 319, '우이동': 320, '운니동': 321, '원남동': 322, '원서동': 323, '원지동': 324, '원효로1가': 325, '원효로2가': 326, '원효로3가': 327, '원효로4가': 328, '월계동': 329, '율현동': 330, '을지로1가': 331, '을지로2가': 332, '을지로3가': 333, '을지로4가': 334, '을지로5가': 335, '을지로6가': 336, '을지로7가': 337, '응봉동': 338, '응암동': 339, '의주로1가': 340, '의주로2가': 341, '이문동': 342, '이촌동': 343, '이태원동': 344, '이화동': 345, '익선동': 346, '인사동': 347, '인의동': 348, '인현동1가': 349, '인현동2가': 350, '일원동': 351, '입정동': 352, '자곡동': 353, '자양동': 354, '잠실동': 355, '잠원동': 356, '장교동': 357, '장사동': 358, '장안동': 359, '장위동': 360, '장지동': 361, '장충동1가': 362, '장충동2가': 363, '재동': 364, '저동1가': 365, '저동2가': 366, '적선동': 367, '전농동': 368, '정동': 369, '정릉동': 370, '제기동': 371, '종로1가': 372, '종로2가': 373, '종로3가': 374, '종로4가': 375, '종로5가': 376, '종로6가': 377, '종암동': 378, '주교동': 379, '주성동': 380, '주자동': 381, '중계동': 382, '중곡동': 383, '중동': 384, '중림동': 385, '중학동': 386, '중화동': 387, '증산동': 388, '진관동': 389, '창동': 390, '창성동': 391, '창신동': 392, '창전동': 393, '창천동': 394, '천연동': 395, '천왕동': 396, '천호동': 397, '청담동': 398, '청량리동': 399, '청암동': 400, '청운동': 401, '청진동': 402, '청파동1가': 403, '청파동2가': 404, '청파동3가': 405, '체부동': 406, '초동': 407, '충무로1가': 408, '충무로2가': 409, '충무로3가': 410, '충무로4가': 411, '충무로5가': 412, '충신동': 413, '충정로1가': 414, '충정로2가': 415, '충정로3가': 416, '태평로1가': 417, '태평로2가': 418, '토정동': 419, '통의동': 420, '통인동': 421, '팔판동': 422, '평동': 423, '평창동': 424, '포이동': 425, '풍납동': 426, '필동1가': 427, '필동2가': 428, '필동3가': 429, '필운동': 430, '하계동': 431, '하왕십리동': 432, '하월곡동': 433, '하일동': 434, '하중동': 435, '한강로1가': 436, '한강로2가': 437, '한강로3가': 438, '한남동': 439, '합동': 440, '합정동': 441, '항동': 442, '행당동': 443, '행촌동': 444, '현석동': 445, '현저동': 446, '혜화동': 447, '홍은동': 448, '홍익동': 449, '홍제동': 450, '홍지동': 451, '홍파동': 452, '화곡동': 453, '화동': 454, '화양동': 455, '황학동': 456, '회기동': 457, '회현동1가': 458, '회현동2가': 459, '회현동3가': 460, '효자동': 461, '효제동': 462, '효창동': 463, '후암동': 464, '훈정동': 465, '휘경동': 466, '흑석동': 467, '흥인동': 468}
{'차대사람': 0, '차대차': 1, '차량단독': 2, '철길건널목': 3}
{'공작물충돌': 0, '기타': 1, '길가장자리구역통행중': 2, '도로이탈': 3, '보도통행중': 4, '전도': 5, '전도전복': 6, '전복': 7, '정면충돌': 8, '주/정차차량 충돌': 9, '차도통행중': 10, '추돌': 11, '측면충돌': 12, '횡단중': 13, '후진중충돌': 14}
{'공작물충돌': 0, '기타': 1, '길가장자리구역통행중': 2, '도로이탈 기타': 3, '도로이탈 추락': 4, '보도통행중': 5, '전도': 6, '전도전복': 7, '전복': 8, '정면충돌': 9, '주/정차차량 충돌': 10, '주정차중 추돌': 11, '진행중 추돌': 12, '차도통행중': 13, '추돌': 14, '측면충돌': 15, '횡단중': 16, '후진중충돌': 17}
{'결측치': 0, '과속': 1, '교차로 통행방법 위반': 2, '기타': 3, '보행자 보호의무 위반': 4, '신호위반': 5, '안전거리 미확보': 6, '안전운전 의무 불이행': 7, '중앙선 침범': 8}
{'비포장': 0, '포장': 1}
{'건조': 0, '기타': 1, '서리/결빙': 2, '적설': 3, '젖음/습기': 4, '침수': 5, '해빙': 6}
{'기타/불명': 0, '눈': 1, '맑음': 2, '비': 3, '안개': 4, '흐림': 5}
{'교차로': 0, '기타': 1, '기타/불명': 2, '단일로': 3, '불명': 4, '철길건널목': 5}
{'고가도로위': 0, '교량위': 1, '교차로내': 2, '교차로부근': 3, '교차로횡단보도내': 4, '기타': 5, '기타/불명': 6, '기타단일로': 7, '불명': 8, '지하차도(도로)내': 9, '철길건널목': 10, '터널안': 11, '횡단보도부근': 12, '횡단보도상': 13}
{'개인형이동수단(PM)': 0, '건설기계': 1, '기타': 2, '농기계': 3, '불명': 4, '사륜오토바이(ATV)': 5, '승용차': 6, '승합차': 7, '원동기장치자전거': 8, '이륜차': 9, '자전거': 10, '특수차': 11, '화물차': 12}
{'기타불명': 0, '남': 1, '여': 2}
{'경상': 0, '기타불명': 1, '부상신고': 2, '사망': 3, '상해없음': 4, '중상': 5}
{'개인형이동수단(PM)': 0, '건설기계': 1, '기타': 2, '농기계': 3, '보행자': 4, '불명': 5, '사륜오토바이(ATV)': 6, '승용차': 7, '승합차': 8, '없음': 9, '열차': 10, '원동기장치자전거': 11, '이륜차': 12, '자전거': 13, '특수차': 14, '화물차': 15}
{'기타불명': 0, '남': 1, '없음': 2, '여': 3}
{'경상': 0, '기타불명': 1, '부상신고': 2, '사망': 3, '상해없음': 4, '없음': 5, '중상': 6}

In [ ]:
new_data2.to_csv('정수형변환데이터(서울).csv')

In [ ]:
new_data2.head(4)

         발생일  발생시간  요일  발생지_시군구  사고내용  ...        발생일_시간_시군구  사고건수  발생년도  발생월  발생일자
0 2010-01-01     0   0       12     0  ...  20100101 00시 마포구     1  2010    1     1
1 2010-01-01     0   0       11     3  ...  20100101 00시 동작구     1  2010    1     1
2 2010-01-01     0   0        4     0  ...  20100101 00시 관악구     1  2010    1     1
3 2010-01-01     0   0        3     0  ...  20100101 00시 강서구     1  2010    1     1

[4 rows x 33 columns]

In [ ]:
feature_names = ['발생시간','요일', '발생년도', '발생월', '발생일자', '노면상태_대분류', '노면상태', '기상상태', '도로형태', '도로형태_대분류']

#랜덤포레스트

In [ ]:
col = ['사고내용', '법정동명', '사망자수', '중상자수', '경상자수','부상신고자수', '사고유형_대분류', '사고유형_중분류', '사고유형', '가해자법규위반', '노면상태_대분류', '노면상태','기상상태',
       '도로형태_대분류', '도로형태', '가해자차종', '가해성별', '가해자연령', '가해자신체상해정도', '피해자차종', '피해자성별', '피해자연령', '피해자신체상해정도',  '사고건수']
group_data = new_data2.groupby(['요일', '발생년도','발생월','발생일자','발생시간','발생지_시군구']).sum()[col]
group_data = group_data.reset_index(drop=False)
group_data

        요일  발생년도  발생월  발생일자  발생시간  ...  피해자차종  피해자성별  피해자연령  피해자신체상해정도  사고건수
0        0  2010    1     1     0  ...      7      1     55          0     1
1        0  2010    1     1     0  ...      7      1     58          0     1
2        0  2010    1     1     0  ...      7      1     55          0     1
3        0  2010    1     1     0  ...     11      1     17          0     1
4        0  2010    1     1     0  ...      7      1     39          6     1
...     ..   ...  ...   ...   ...  ...    ...    ...    ...        ...   ...
322376   6  2018   12    25    22  ...     20      2     51         12     2
322377   6  2018   12    25    22  ...     12      1     22          0     1
322378   6  2018   12    25    23  ...      7      1     67          6     1
322379   6  2018   12    25    23  ...      7      1     26          0     1
322380   6  2018   12    25    23  ...      4      3     26          0     1

[322381 rows x 30 columns]

In [ ]:
def forest_top5(data, fnames, k):

  from sklearn.ensemble import RandomForestRegressor
  from sklearn.metrics import mean_squared_error
  from sklearn.metrics import r2_score
  import numpy as np

  y_train = data[(data['발생년도']<2018)]['사고건수']
  y_test = data[(data['발생년도']==2018)]['사고건수']
  y_test= y_test.reset_index(drop=True)

  from itertools import combinations as cm

  scores=[]


  fsets=list(cm(fnames,k)) #변수명에 대해 nCk의 조합

  for cmb in fsets: #각 조합에 대해
    fset=[]
    for x in cmb:
      if type(x)==str:
        fset.append(x)
      else:
        fset=fset+x

    X_train = data[(data['발생년도']<2018)][fset] #train, test셋 만들고
    X_test = data[(data['발생년도']==2018)][fset]

    forest = RandomForestRegressor(n_estimators=100, #모델 적합
                                criterion='squared_error', 
                                random_state=1, 
                                n_jobs=-1)
    forest.fit(X_train, y_train)           #적합

    y_train_pred = forest.predict(X_train) #예측
    y_test_pred = forest.predict(X_test)
 
    print('\n 랜덤포레스트 변수: ', fset)  #해당 모델에 사용된 변수 조합

    print('훈련 MSE: %.3f, 테스트 MSE: %.3f' % (
      mean_squared_error(y_train, y_train_pred),
      mean_squared_error(y_test, y_test_pred)))
    print('훈련 R^2: %.3f, 테스트 R^2: %.3f' % (
          r2_score(y_train, y_train_pred),
          r2_score(y_test, y_test_pred)))
    
    scores.append( (round(r2_score(y_test, y_test_pred),3),fset) ) #for문 안에서 튜플 추가

  print(sorted(scores, key=lambda x: x[1], reverse=True)[:5]) #성적순 정렬해 상위 점수 5개 조합 반환

In [ ]:
forest_top5(group_data, feature_names ,2)

 랜덤포레스트 변수:  ['발생시간', '요일']
훈련 MSE: 0.134, 테스트 MSE: 0.139
훈련 R^2: 0.007, 테스트 R^2: 0.006

 랜덤포레스트 변수:  ['발생시간', '발생년도']
훈련 MSE: 0.134, 테스트 MSE: 0.139
훈련 R^2: 0.006, 테스트 R^2: 0.004

 랜덤포레스트 변수:  ['발생시간', '발생월']
훈련 MSE: 0.134, 테스트 MSE: 0.139
훈련 R^2: 0.006, 테스트 R^2: 0.003

 랜덤포레스트 변수:  ['발생시간', '발생일자']
훈련 MSE: 0.134, 테스트 MSE: 0.139
훈련 R^2: 0.007, 테스트 R^2: 0.002

 랜덤포레스트 변수:  ['발생시간', '노면상태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['발생시간', '노면상태']
훈련 MSE: 0.121, 테스트 MSE: 0.129
훈련 R^2: 0.103, 테스트 R^2: 0.079

 랜덤포레스트 변수:  ['발생시간', '기상상태']
훈련 MSE: 0.014, 테스트 MSE: 0.013
훈련 R^2: 0.897, 테스트 R^2: 0.904

 랜덤포레스트 변수:  ['발생시간', '도로형태']
훈련 MSE: 0.027, 테스트 MSE: 0.067
훈련 R^2: 0.803, 테스트 R^2: 0.518

 랜덤포레스트 변수:  ['발생시간', '도로형태_대분류']
훈련 MSE: 0.075, 테스트 MSE: 0.087
훈련 R^2: 0.441, 테스트 R^2: 0.375

 랜덤포레스트 변수:  ['요일', '발생년도']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.001, 테스트 R^2: 0.001

 랜덤포레스트 변수:  ['요일', '발생월']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.002, 테스트 R^2: 0.001

 랜덤포레스트 변수:  ['요일', '발생일자']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.002, 테스트 R^2: 0.001

 랜덤포레스트 변수:  ['요일', '노면상태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['요일', '노면상태']
훈련 MSE: 0.121, 테스트 MSE: 0.129
훈련 R^2: 0.099, 테스트 R^2: 0.077

 랜덤포레스트 변수:  ['요일', '기상상태']
훈련 MSE: 0.014, 테스트 MSE: 0.014
훈련 R^2: 0.894, 테스트 R^2: 0.901

 랜덤포레스트 변수:  ['요일', '도로형태']
훈련 MSE: 0.027, 테스트 MSE: 0.068
훈련 R^2: 0.799, 테스트 R^2: 0.515

 랜덤포레스트 변수:  ['요일', '도로형태_대분류']
훈련 MSE: 0.076, 테스트 MSE: 0.087
훈련 R^2: 0.440, 테스트 R^2: 0.374

 랜덤포레스트 변수:  ['발생년도', '발생월']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.001, 테스트 R^2: -0.001

 랜덤포레스트 변수:  ['발생년도', '발생일자']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.001, 테스트 R^2: -0.001

 랜덤포레스트 변수:  ['발생년도', '노면상태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['발생년도', '노면상태']
훈련 MSE: 0.122, 테스트 MSE: 0.129
훈련 R^2: 0.099, 테스트 R^2: 0.077

 랜덤포레스트 변수:  ['발생년도', '기상상태']
훈련 MSE: 0.014, 테스트 MSE: 0.014
훈련 R^2: 0.894, 테스트 R^2: 0.903

 랜덤포레스트 변수:  ['발생년도', '도로형태']
훈련 MSE: 0.021, 테스트 MSE: 0.033
훈련 R^2: 0.841, 테스트 R^2: 0.761

 랜덤포레스트 변수:  ['발생년도', '도로형태_대분류']
훈련 MSE: 0.076, 테스트 MSE: 0.087
훈련 R^2: 0.440, 테스트 R^2: 0.380

 랜덤포레스트 변수:  ['발생월', '발생일자']
훈련 MSE: 0.135, 테스트 MSE: 0.140
훈련 R^2: 0.002, 테스트 R^2: -0.002

 랜덤포레스트 변수:  ['발생월', '노면상태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['발생월', '노면상태']
훈련 MSE: 0.121, 테스트 MSE: 0.129
훈련 R^2: 0.100, 테스트 R^2: 0.076

 랜덤포레스트 변수:  ['발생월', '기상상태']
훈련 MSE: 0.014, 테스트 MSE: 0.014
훈련 R^2: 0.897, 테스트 R^2: 0.902

 랜덤포레스트 변수:  ['발생월', '도로형태']
훈련 MSE: 0.027, 테스트 MSE: 0.068
훈련 R^2: 0.800, 테스트 R^2: 0.512

 랜덤포레스트 변수:  ['발생월', '도로형태_대분류']
훈련 MSE: 0.076, 테스트 MSE: 0.087
훈련 R^2: 0.440, 테스트 R^2: 0.375

 랜덤포레스트 변수:  ['발생일자', '노면상태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['발생일자', '노면상태']
훈련 MSE: 0.121, 테스트 MSE: 0.129
훈련 R^2: 0.100, 테스트 R^2: 0.075

 랜덤포레스트 변수:  ['발생일자', '기상상태']
훈련 MSE: 0.014, 테스트 MSE: 0.014
훈련 R^2: 0.895, 테스트 R^2: 0.900

 랜덤포레스트 변수:  ['발생일자', '도로형태']
훈련 MSE: 0.027, 테스트 MSE: 0.068
훈련 R^2: 0.802, 테스트 R^2: 0.511

 랜덤포레스트 변수:  ['발생일자', '도로형태_대분류']
훈련 MSE: 0.075, 테스트 MSE: 0.088
훈련 R^2: 0.440, 테스트 R^2: 0.371

 랜덤포레스트 변수:  ['노면상태_대분류', '노면상태']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.998, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['노면상태_대분류', '기상상태']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.999, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['노면상태_대분류', '도로형태']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.999, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['노면상태_대분류', '도로형태_대분류']
훈련 MSE: 0.000, 테스트 MSE: 0.000
훈련 R^2: 0.999, 테스트 R^2: 0.999

 랜덤포레스트 변수:  ['노면상태', '기상상태']
훈련 MSE: 0.008, 테스트 MSE: 0.007
훈련 R^2: 0.941, 테스트 R^2: 0.946

 랜덤포레스트 변수:  ['노면상태', '도로형태']
훈련 MSE: 0.025, 테스트 MSE: 0.064
훈련 R^2: 0.817, 테스트 R^2: 0.541

 랜덤포레스트 변수:  ['노면상태', '도로형태_대분류']
훈련 MSE: 0.069, 테스트 MSE: 0.082
훈련 R^2: 0.487, 테스트 R^2: 0.416

 랜덤포레스트 변수:  ['기상상태', '도로형태']
훈련 MSE: 0.004, 테스트 MSE: 0.009
훈련 R^2: 0.970, 테스트 R^2: 0.939

 랜덤포레스트 변수:  ['기상상태', '도로형태_대분류']
훈련 MSE: 0.009, 테스트 MSE: 0.011
훈련 R^2: 0.931, 테스트 R^2: 0.924

 랜덤포레스트 변수:  ['도로형태', '도로형태_대분류']
훈련 MSE: 0.013, 테스트 MSE: 0.033
훈련 R^2: 0.901, 테스트 R^2: 0.765
[(0.939, ['기상상태', '도로형태']), (0.924, ['기상상태', '도로형태_대분류']), (0.946, ['노면상태', '기상상태']), (0.541, ['노면상태', '도로형태']), (0.416, ['노면상태', '도로형태_대분류'])]

In [ ]:
#기상상태, 도로형태, 노면상태가 매우 중요한 것 같아요

In [ ]:
feature_names2 =  ['기상상태', '도로형태', '도로형태_대분류','노면상태' ]
forest_top5(group_data, feature_names2 ,3)

 랜덤포레스트 변수:  ['기상상태', '도로형태', '도로형태_대분류']
훈련 MSE: 0.002, 테스트 MSE: 0.004
훈련 R^2: 0.989, 테스트 R^2: 0.969

 랜덤포레스트 변수:  ['기상상태', '도로형태', '노면상태']
훈련 MSE: 0.002, 테스트 MSE: 0.004
훈련 R^2: 0.987, 테스트 R^2: 0.969

 랜덤포레스트 변수:  ['기상상태', '도로형태_대분류', '노면상태']
훈련 MSE: 0.005, 테스트 MSE: 0.006
훈련 R^2: 0.963, 테스트 R^2: 0.958

 랜덤포레스트 변수:  ['도로형태', '도로형태_대분류', '노면상태']
훈련 MSE: 0.012, 테스트 MSE: 0.031
훈련 R^2: 0.912, 테스트 R^2: 0.777
[(0.969, ['기상상태', '도로형태', '노면상태']), (0.969, ['기상상태', '도로형태', '도로형태_대분류']), (0.958, ['기상상태', '도로형태_대분류', '노면상태']), (0.777, ['도로형태', '도로형태_대분류', '노면상태'])]

In [ ]:
feature_names2 =  ['기상상태', '도로형태', '도로형태_대분류','노면상태' ]
forest_top5(group_data, feature_names2 ,4)
#4개 필수 요소 **

 랜덤포레스트 변수:  ['기상상태', '도로형태', '도로형태_대분류', '노면상태']
훈련 MSE: 0.001, 테스트 MSE: 0.003
훈련 R^2: 0.995, 테스트 R^2: 0.980
[(0.98, ['기상상태', '도로형태', '도로형태_대분류', '노면상태'])]